.quick-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
margin-top:20px;
}

.quick-card{
background:#fff;
padding:20px;
border-radius:14px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
transition:.3s;
cursor:pointer;
}

.quick-card:hover{
transform:translateY(-5px);
}

.quick-card h3{
margin:0;
font-size:18px;
color:#111827;
}

.quick-card p{
margin-top:8px;
font-size:14px;
color:#6B7280;
}